{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:prettier/recommended",
    "prettier",
    "eslint:recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "tsconfig.json",
    "ignorePatterns": ["global.d.ts","tests/*.ts"]
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-var": "error",
    "semi": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "req|res|next"
      }
    ],
    "no-useless-escape": "warn"
  }
}
